<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sirachlabs.portchlyt_services">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/p_logo"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/p_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".SettingsActivity"></activity>
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CancelJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewArtisanProfilePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisputeNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisputeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArtisanRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogThemeModal" />
        <activity
            android:name=".CashPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewJobActivity"
            android:screenOrientation="portrait" />
        
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkHDfN-tHxIsL7WB6EAcd4m4F9KPtzP9E" />
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_de0b7a459ac00317bb9dc88a8c87b33592873b84" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name=".NoArtisansFoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogThemeModal" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".ConfirmOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="globals.MyMqtt"
            android:exported="true" />
    </application>

</manifest>